.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
!**/*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

build/
*.zip

.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
.venv/
venv/
.mypy_cache/

.idea/
.vscode/
.DS_Store
*.swp
.coverage
htmlcov/
checkov_results.xml
.external_modules/
